.banner {
    position: relative;
    background-image: url(../../img/banner.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 950px;
}

.banner-backdrop {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.3);
}

.banner .container {
    position: relative;
    z-index: 2;
}

.banner-title {
    padding-top: 340px;
    width: 946px;
}

.banner-title p {
    margin: 0;
    color: #FFF;
    font-size: 24px;
    font-weight: 600;
    line-height: 149%;
}

.infrastructure {
    max-width: 1270px;
    margin-top: 32px;
    border-radius: 5px;
    background: rgba(255, 255, 255, 0.12);
    backdrop-filter: blur(5.5px);
    display: flex;
}

.infrastructure-info {
    display: flex;
}

.infrastructure-info img {
    margin: 28px 14px 30px 40px;
}

.info-wrapper {
    width: 303px;
    margin: 24px 18px 25px 0;
}

.info-wrapper p {
    margin: 0;
    color: #FFF;
    font-weight: 500;
    line-height: 149%;
}

.banner-catalog {
    margin-top: 40px;
}

.banner-catalog p {
    margin: 0 0 14px 0;
    color: #FFF;
    font-size: 20px;
    font-weight: 600;
    line-height: 149%
}

@media (max-width: 1355px) {
    .info-wrapper {
        width: auto;
        margin: 24px 12px 25px 0;
    }
}

@media (max-width: 1199px) {
    .banner {
        height: auto;
        padding: 100px 0;
        background-position: -220px 0;
    }

    .banner-title {
        padding-top: 0;
    }

    h1 {
        font-size: 64px;
    }

    .banner-title p {
        font-size: 22px;
    }

    .infrastructure {
        display: block;
        max-width: 440px;
    }
}

@media (max-width: 991px) {
    .banner-title {
        width: 740px;
    }

    h1 {
        font-size: 54px;
    }

    .banner-title p {
        font-size: 20px;
    }

    .infrastructure {
        background: none;
        backdrop-filter: none;
    }

    .infrastructure-info img {
        margin: 14px 14px 14px 0;
    }

    .info-wrapper {
        margin: 15px 0;
    }
}

@media (max-width: 767px) {
    .banner-title {
        width: 550px;
    }

    h1 {
        font-size: 44px;
    }

    .infrastructure {
        max-width: 320px;
    }
}

@media (max-width: 575px) {
    .banner-title {
        width: 445px;
    }

    h1 {
        font-size: 32px;
    }

    .banner-title p {
        font-size: 18px;
    }

    .infrastructure {
        max-width: 300px;
    }

    .info-wrapper p {
        font-size: 15px;
    }
}

@media (max-width: 479px) {
    .banner {
        background-position: -600px 0;
    }

    .banner-title {
        width: 100%;
    }

    .info-wrapper p {
        font-size: 14px;
    }

    .banner-catalog p {
        font-size: 18px;
    }
}