.btn {
    display: inline-block;
    text-decoration: none;
    text-align: center;
    cursor: pointer;
}

.btn-green {
    margin-right: 15px;
    background-color: #00A7B3;
    width: 240px;
    padding: 20px 0;
    border-radius: 6px;
    color: #FFF;
    font-size: 16px;
    font-weight: 600;
    line-height: 120%;
    
    &:hover {
        background-color: #0DBCC9;
    }

    &:active {
        background-color: #029FAA;
    }
}

@media (max-width: 991px) {
    .btn-green {
        width: 180px;
        padding: 18px 0;
    }
}

@media (max-width: 767px) {
    .btn-green {
        width: 160px;
        padding: 15px 0;
    }
}

@media (max-width: 479px) {
    .btn-green {
        width: 135px;
        padding: 12px 0;
        font-size: 14px;
    }
}