.complex {
    border-bottom: 1px solid #e7e7e7;
}

.about-complex {
    display: flex;
}

.about-complex-left {
    margin-top: 125px;
    width: 60%;
}

.about-complex-left h2 {
    margin: 0 0 13px;
}

.about-complex-top {
    margin-bottom: 48px;
}

.about-complex-bottom {
    display: inline-flex;
    padding-top: 37px;
    border-top: 1px solid #e7e7e7;
}

.complex-item {
    margin-right: 57px;

    &:last-child {
        margin-right: 0;
    }
}

.complex-item__quantity {
    color: #00A7B3;
    font-size: 55px;
    line-height: 149%;
}

.complex-item__label {
    font-size: 18px;
    font-weight: 600;
    line-height: 149%
}

.about-complex-right {
    flex: 1;
    margin: 128px 0 83px 66px;
    border-radius: 10px;
    border: 1px solid #e7e7e7;
    padding: 35px 75px 52px 54px;
}

.about-complex-right h3 {
    font-weight: 500;
    margin: 0 0 24px;
}

.about-complex__list {
    display: flex;
    margin-bottom: 15px;
}

.about-complex__list img {
    margin-right: 12px;
}

@media (max-width: 1355px) {
    .about-complex-left {
        margin-top: 100px;
    }

    .about-complex-left h2 {
        font-size: 48px;
    }

    .complex-item__quantity {
        font-size: 48px;
    }

    .complex-item__label {
        font-size: 14px;
    }

    .about-complex-right {
        margin: 100px 0 80px 50px;
        padding: 35px;
    }

    .about-complex-right h3 {
        font-size: 26px;
    }

    .md-16 {
        font-size: 13px;
    }
}

@media (max-width: 991px) {
    .about-complex {
        display: block;
    }

    .about-complex-left {
        margin-top: 80px;
        padding: 0 25px;
        width: 100%;
    }

    .about-complex-right {
        margin: 80px 20px;
        padding: 35px;
    }
}

@media (max-width: 767px) {
    .about-complex-left {
        margin-top: 50px;
        padding: 0;
    }

    .about-complex-left h2 {
        font-size: 42px;
    }

    .text-md {
        font-size: 16px;
        line-height: 28px;
    }

    .about-complex-top {
        margin-bottom: 40px;
    }

    .complex-item {
        margin-right: 40px;
    }

    .complex-item__quantity {
        font-size: 42px;
    }

    .complex-item__label {
        font-size: 13px;
    }

    .about-complex-right {
        margin: 60px 0px;
        padding: 35px;
    }
}

@media (max-width: 479px) {
    .about-complex-left {
        margin-top: 40px;
    }

    .about-complex-left h2 {
        font-size: 34px;
    }

    .about-complex-top .text-md {
        font-size: 14px;
        line-height: 24px;
    }

    .about-complex-bottom {
        padding-top: 30px;
    }

    .complex-item {
        margin-right: 25px;
    }

    .complex-item__quantity {
        font-size: 34px;
    }

    .complex-item__label {
        font-size: 12px;
    }

    .about-complex-right {
        margin: 40px 0px;
        padding: 25px;
    }
}