.container {
    max-width: 1470px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 0 15px;
}

@media (max-width: 1500px) {
    .container {
        width: 1300px;
    }       
}

@media (max-width: 999px) {
    .container {
        width: 899px;
    }
}

@media (max-width: 899px) {
    .container {
        width: 100%;
    }
}