.offer {
    border-bottom: 1px solid #e7e7e7;
}

.offer-container {
    display: flex;
    align-items: center;
    padding: 120px 0;
}

.offer__img {
    width: 36%;
    max-width: 36%;
}

.offer__img img {
    width: 100%;
}

.offer__discount {
    width: 64%;
    max-width: 64%;
    padding-left: 70px;
}

.offer__discount h3 {
    margin: 0 0 25px;
}

.offer-catalog {
    margin-top: 41px;
}

.offer-catalog p {
    margin: 0 0 14px;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 149%
}

@media (max-width: 1355px) {
    .offer__discount {
        padding-left: 60px;
    }

    .offer__discount h3 {
        font-size: 25px;
    }

    .text-md {
        font-size: 18px;
        line-height: 32px;
    }
}

@media (max-width: 991px) {
    .offer__discount {
        padding-left: 45px;
    }
}

@media (max-width: 767px) {
    .offer-container {
        padding: 60px 0;
        display: block;
    }

    .offer__img {
        width: 100%;
        max-width: 100%;
        padding: 40px;
    }

    .offer__discount {
        width: 100%;
        max-width: 100%;
        padding-left: 0;
    }
}

@media (max-width: 479px) {
    .offer__discount h3 {
        font-size: 20px;
    }

    .offer__discount .text-md {
        font-size: 14px;
        line-height: 24px;
    }

    .offer-catalog p {
        font-size: 18px;
    }
}